

<div class="container">


<h1>MyTwitter</h1>
<div class="Welcome"> Welcome <%= @current_user.full_name %> </div>


<% @people.each do |tweet| %>




<hr>
<blockquote>
  <%= image_tag(tweet.user.photo) %> <h3 class="fullname"> <%= tweet.user.full_name %></h3>
  <%= link_to tweet.text, tweet_path(id: tweet.id) %> <cite><%= tweet.post_at %></cite>

  <%= link_to like_tweet_path(id: tweet.id), method: :post, class: 'btn btn-default' do %>
      <i class="fa fa-star-o"></i>
      <%= pluralize tweet.view_count, 'like' %>
      <% end %>

</blockquote>

<hr>
<% end %>
</div>

<div class="col-xs-3 fixed-top">
<% @users.each do |user| %>
  <li>
    <% if @current_user.following? user %>
      <%= link_to "Stop Following #{user.full_name}", stop_following_user_path(id: user.id), method: :post %>
    <% else %>
      <%= link_to "Follow #{user.full_name}", follow_user_path(id: user.id), method: :post %>
    <% end %>
  </li>
<% end %>

</div>
